.menu{
    display: flex;
    align-items: center;
}
nav {
    display: flex;
    background-color: white;
    align-items: center;
    margin-left: auto;
    margin-right: 5%;
}
nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
}

footer {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}
img{
    width: 100%;
    height: 75vh;
    border-radius: 5%;
}
#especies{
    text-align: center;
}
.div-caja{
    display: flex;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    
}
.div-caja div{
    flex: 1; /* Ajusta todas las imagenes de tamaño */
    margin: 2%;
}
.div-caja img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.div-caja p{
    text-align: justify;
}
#contactanos{
    padding-top: 1%;
    color: #ffffff;
    background-color: #6c6d6c;
    text-align: center;
}

label{
    margin-bottom: 10px;
    font-weight: bold;
    color: #ffffff;
}
input, textarea{
    width: 70%;
    padding: 10px;
    margin-bottom: 2%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
button{
    width: 70%;
    padding: 12px;
    background-color: #2a2b2a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 2%;
}